{% extends 'articles/article_base.html' %}

{% block title %}{{user.name}}{% endblock title %}

{% block content %}
<style>
    .box {
        width: 50%;
        margin: 50px auto;
    }
    .line {
        font-size: 20px;
        font-weight: 500;
        margin: 10px;
        background-color: #323437;
        border-radius: 6px;
        padding: 10px;
        overflow: auto;
    }
    .right {
        float: right;
    }
    .edit {
        font-size: 13px !important;
    }
</style>
<div class="edit right line">
    <a href="{% url 'accounts:edit_user' %}">Tahrirlash</a>
</div>
<div class="box">
    <div class="line"> Foydalanuvchi nomi: <span class="right">{{user.username}}</span> </div>
    <div class="line"> E-mail: <span class="right">{{user.email}}</span> </div>
    <div class="line"> Ism: <span class="right">{{user.name}}</span> </div>
    <div class="line"> Davlat: <span class="right">{{user.country}}</span> </div>
    <div class="line"> Shahar: <span class="right">{{user.city}}</span> </div>
    <div class="line"> Muassasa: <span class="right">{{user.organization}}</span> </div>
</div>
{% endblock content %}