@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: #323437;
    color: #cfcfcf;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body a {
    color: #cfcfcf;
    text-decoration: none;
}
body a:hover {
    color: #ffad33;
    text-decoration: underline;
}

/* HEADER FLEX  */
.flex-container {
    /* border: 1px solid darkgreen; */
    display: flex;
    flex-wrap: nowrap;
}
.flex-left {
    flex-grow: 25;
}
.flex-center {
    flex-grow: 65;
    display: flex;
    justify-content: center;
}
.flex-right {
    flex-grow: 2;
    display: flex;
    justify-content: center;
}
/* HEADER */
header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #323437;
}
.header__item {
    position: relative;
    top: 14px;
    /* border: 1px solid red; */
}
.header__item a {
    color: #ffad33;
    text-decoration: none;
}
.header__logo {
    flex-grow: 1;
    position: relative;
    top: 12px;
    font-size: 25px;
    margin-left: 25px;
}
.header__articles {
    font-size: 18px;
    position: relative;
    top: 35px;
    border: 1px solid #ffad33;
    padding: 7px;
    border-radius: 20px 0 0 20px;
    background-color: #606060;
    display: inline-block;
}
.header__articles a, .header__problems a {
    margin: 10px;
}
.header__problems {
    font-size: 18px;
    position: relative;
    top: 35px;
    border: 1px solid #ffad33;
    padding: 7px;
    border-radius: 0 20px 20px 0;
    background-color: #323437;
    display: inline-block;
}
.header__right {
    margin: 0 8px;
}
hr {
    position: relative;
    top: 9px;
    width: 100%;
    height: 1px;
    border: none;
    background-color: #ffad33;
    z-index: -1;
}

/* NAVBAR */
nav {
    /* border: 1px solid snow; */
    position: fixed;
    top: 50px;
    float: left;
    overflow: hidden;
    width: 15%;
}
.category__list {
    list-style:inside;
}
.category__list__item {
    padding: 5px;
    font-size: 18px;
}
/* SECTION */

section {
    position: relative;
    top: 55px;
    /* border: 1px solid red; */
    background-color: #454545;
    float: right;
    width: 85%;
    z-index: -1;
    height: auto;
}

.clear {
    content: "";
    clear: both;
}

/* ARTICLE LIST  */

.article-list {
    background-color: #323437;
    border-radius: 20px;
    margin: 20px;
    padding: 20px;
}

/* ARTICLE DETAIL HTML  */

.article-title {
    font-size: 25px;
    margin: 50px 50px;
}

.article-data {
    border-radius: 5px;
    background-color: #323437;
    padding: 8px;
    margin: 5px;
}

.article-body {
    position: relative;
    left: 30px;
    font-size: 18px;
    margin: 20px;
    overflow: auto;
    padding: 0 50px 0 0;
}

/* ARTICLE EDIT */

form {
    margin: 30px;
}
form p, form button {
    margin: 20px;
}

.danger, .danger a {
    color: rgb(190, 61, 61) !important;
}

.vote-box {
    margin: 30px;
    position: relative;
    left: 50px;
}
.vote {
    display: inline-block;
    margin: 5px;
    padding: 0;
    font-size: 20px;
}

.vote button {
    border: none;
    background: none;
    font-size: 20px;
    height: auto;
    width: auto;
    padding: 0;
    margin: 0;
}