<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% for article in articles %}
        <div class="article-list" style="margin:20px; padding:10px; border:1px solid black;">
            <h3><a href="{% url 'article_detail' article.pk %}">{{article.title}}</a></h3>
            <h5>
                {{article.created_time | date:'Y-m-d H:i'}}
                {{article.reputation}}
                <a href="{% url 'user_profile' article.owner.username %}">{{article.owner}}</a>
            </h5>
        </div>
    {% endfor %}
</body>
</html>