{% extends 'articles/article_base.html' %}
{% load hitcount_tags %}

{% block title %}{{article.title | truncatewords:3}}{% endblock title %}

{% block content %}
    <h5 style="margin: 15px 15px 15px 30px; float: right;">
        {% if request.user.username == article.owner.username or request.user.is_superuser %}
            <span class="article-data">
                <a href="{% url 'article:article_edit' article.pk %}">
                    Tahrirlash
                </a>
            </span>
            {% if article.reputation < 10 %}
                <span class="article-data danger">
                    <a href="{% url 'article:article_delete' article.pk %}">
                        O'chirish
                    </a>
                </span>
            {% endif %}
        {% endif %}
        <span class="article-data">{{article.created_time | date:'Y-m-d H:i'}}</span>
        <span class="article-data">
            <i class="fa-solid fa-eye"></i>
            <span style="margin-left:5px;">{% get_hit_count for article %}</span>
        </span>
        <span class="article-data">
            <span>Muallif:&nbsp</span>
            <a href="{% url 'accounts:user_profile' article.owner.username %}">
                {{article.owner.username}}
            </a>
        </span>
    </h5>
    <h3 class="article-title">{{article.title}}</h3>
    <article class="article-body">{{article.body|safe}}</article>
    <div class="vote-box">
        <form method="post" class="vote">
            {% csrf_token %}
            <button name="plus" value="plus" style="color: rgba(144, 238, 144, 0.8);" type="submit"><i class="fa-solid fa-circle-chevron-up"></i></button>
        </form>
        <span class="vote"
            style="color:
            {% if article.reputation < 0 %}
                rgb(220, 105, 105); 
            {% elif article.reputation == 0 %}
                #cfcfcf
            {% else %}
                rgba(144, 238, 144, 0.8);
            {% endif %}">
            {{article.reputation}}
        </span>
        <form method="post" class="vote">
            {% csrf_token %}
            <button name="minus" value="minus" style="color: rgb(220, 105, 105);" type="submit"><i class="fa-solid fa-circle-chevron-down"></i></button>
        </form>
    </div>
{% endblock content %}  

{% block script %}
    <script type="text/javascript" id="MathJax-script" async
    src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
    </script>
{% endblock script %}
