{% extends 'articles/article_base.html' %}
{% load static %}
{% load hitcount_tags %}

{% block title %}Maqolalar{% endblock title %}

{% block content %}
    {% for article in articles %}
        <div class="article-list">
            <div style="float:left; width: 30%;">
                <h3>
                    <a href="{% url 'article:article_detail' article.pk %}">
                        {{article.title}}
                    </a>
                </h3>
                <h5>
                    {{article.created_time | date:'Y-m-d H:i'}}
                    {% get_hit_count for article %}
                    <a href="{% url 'accounts:user_profile' article.owner.username %}">
                        {{article.owner}}
                    </a>
                </h5>
            </div>
            <div class="clear"></div>
        </div>
    {% endfor %}
{% endblock content %}